node_modules
dist
.sites-runtime
*.log
*.tsbuildinfo
desktop.png
desktop-focus.png
jupiter.png
saturn.png
mobile-home.png
mobile-universe.png
mobile-projects.png
sun-profile.png
earth-projects.png
universe.png
